* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background:#1B1317;

}

h1{
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:3vw;
    color:white;
    
}

.plateau {
    position: absolute;
    width: auto;
    height: auto;
    background: pink;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.case {
    width: 1px;
    height: 1px;
    background: #3B2530;
    margin: auto;
    font-size: 15px;
    color: grey;

}

.mur{
    background:url(../img/wall.png) no-repeat;
    background-size: cover;
}

.not_mur:hover {
    background:#39222e !important;
}

.perso1 img{
    width: auto;
}

.perso2 img{
    width: auto;
    transform:scaleX(-1);
}
