* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #1B1317;
    image-rendering: pixelated;

}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: white;

}

.HUDP1 {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;

}

.inventaire {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 130px;
    padding: 5px;
    right: 15px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    opacity: 0;
    transition: opacity .3s;
}

.inventaire div {
    border: 2px solid #e2e2e2;
    background: #e2e2e2;
    width: 28%;
    height: 28%;
    border-radius: 10px;
    position: relative;
}

.inventaire div img {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inventaire:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 10px;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

.inventaire_active {
    opacity: 1;
}


.image {
    width: 60%;
    min-height: 150px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

}

.HUDP1 img {
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 30%;


}

.HUDP1 img:nth-child(2) {
    width: 10%;


}

.HUDP1 img:nth-child(3) {
    width: 20%;
}

.information {
    margin: auto;
    margin-top: 0;
    width: 60%;


}

.information div {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.HUDP2 {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;

}

.HUDP2 img {
    display: block;
    margin: auto;
    padding: 0;
    width: 30%;


}

.HUDP2 img:nth-child(2) {
    width: 10%;


}

.HUDP2 img:nth-child(3) {
    width: 20%;
}


.plateau {
    position: absolute;
    width: auto;
    height: auto;
    background: #1B1317;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.case {
    width: 1px;
    height: 1px;
    background: #3B2530;
    margin: auto;
    font-size: 10px;
    color: grey;
}

.bones {
    background: url(../img/bones.png) no-repeat;
    background-size: cover;
}

.rat {
    background: url(../img/rat.png) no-repeat;
    background-size: cover;
}

.blood {
    background: url(../img/blood.png) no-repeat;
    background-size: cover;
}

.skull {
    background: url(../img/skull.png) no-repeat;
    background-size: cover;
}

.crack {
    background: url(../img/crack.png) no-repeat;
    background-size: cover;
}

.hole {
    background: url(../img/hole.png) no-repeat;
    background-size: cover;
}

.HUD_perso1,
.HUD_perso2 {
    display: block;
    position: absolute;
}

.HUD_perso1 {
    top: 25%;
    left: -30%;
    transform-origin: center;
    transform: translateX(-50%);
}

.HUD_perso1 img {
    width: 600%;
}

.HUD_perso2 {
    top: 25%;
    right: -25%;
}

.HUD_perso2 img {
    width: 600%;
    transform: translateX(-50%);
}

.mur {
    background: url(../img/wall.png) no-repeat;
    background-size: cover;
}

.not_mur:hover {}

.perso {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.perso1 {
    position: relative;
    height: 100%;
    width: 100%;
}

.perso1 img {
    display: block;
    width: auto;
    position: absolute;
    top: 50%;
    margin-top: -0px;
    height: 80%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.animation_perso {
    animation: animation_perso 1.3s infinite;
    animation-timing-function: ease-out;
}

@keyframes animation_perso {
    0% {
        margin-top: 0px;
        margin-left: -5%;
    }

    25% {
        margin-top: -1.5px;
        margin-left: 0px;
    }

    50% {
        margin-top: 0px;
        margin-left: 5%
    }

    75% {
        margin-top: -1.5px;
        margin-left: 0px;
    }

    100% {
        margin-top: 0px;
        margin-left: -5%;
    }
}

@keyframes animation_potion {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(7deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(-7deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


.perso2 img {
    display: block;
    width: auto;
    position: absolute;
    top: 50%;
    margin-top: -0px;
    height: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*animation: animation_perso 1.3s infinite;
    animation-timing-function: ease-out;*/
}

.perso2 {
    position: relative;
    height: 100%;
    width: 100%;
}


.HUD_player {
    position: absolute;
    background: white;
    padding: 2px 2px;
    font-size: 100%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: auto;
    top: -5px;
    left: 50%;

    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    color: #016bc6;
    z-index: 999;
    white-space: nowrap;
}

.perso1:hover .HUD_player,
.perso2:hover .HUD_player {
    opacity: 1;
    top: -20px;
}

.objet {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.objet img {
    display: block;
    position: absolute;
    height: 50%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: bottom center;
    animation: animation_potion 2s infinite;
    animation-timing-function: ease-out;
}

.arme img {
    height: 80%;
    animation-delay: 1s;
}

.HUD_potion {
    position: absolute;
    background: white;
    padding: 1px 2px;
    font-size: 100%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: auto;
    top: -5px;
    left: 50%;

    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    color: #016bc6;
    z-index: 999;
    white-space: nowrap;
}

.objet:hover .HUD_potion {
    opacity: 1;
    top: -15px;
}

.HUD_arme {
    position: absolute;
    background: black;
    padding: 2px 2px;
    font-size: 100%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: auto;
    top: -5px;
    left: 50%;

    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    color: #016bc6;
    z-index: 999;
    white-space: nowrap;
}

.objet:hover .HUD_arme {
    opacity: 1;
    top: -15px;
}




.sword {
    height: 100%;
    width: 100%;
    position: relative;
}

.sword img {
    position: absolute;
    width: 10px;
    height: 80%;
    left: 50%;
    top: 20%;
    margin-top: -0px;
    transform: rotate(45deg) translateX(-50%);
    /**animation:animation_perso 1.3s infinite;
    animation-timing-function: ease-out;**/
}

.sword:before {
    content: '10 DAM';
    position: absolute;
    background: white;
    padding: 1px 0px;
    font-size: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    top: -5px;
    left: 1px;
    opacity: 0;
    transition: all .3s;
    color: #6f6f6f;
}

.sword:hover:before {
    opacity: 1;
    top: -15px;
}

/**protection {
background: red !important;
}**/

.deplacement {
    position: relative;

}

.deplacement:after {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    border: 2px solid;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.deplacement:hover:after {
    background: rgba(128, 128, 128, 0.5);
}

.deplacementP1:after {
    border-color: rgba(217, 14, 14, 0.2)
}

.deplacementP1:hover:after {
    border-color: rgba(217, 14, 14, 0.5)
}

.deplacementP2:after {
    border-color: rgba(14, 69, 217, 0.2)
}

.deplacementP2:hover:after {
    border-color: rgba(14, 69, 217, 0.5)
}

.deplacement:hover .objet div {
    opacity: 1;
    top: -15px;
}










@media (max-width : 1300px) {

    .plateau {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);

    }

    .HUDP1 {
        width: 45%;
        height: 20vh;
        top: unset;
        bottom: 1%;
        flex-wrap: nowrap;
    }

    .HUDP2 {
        width: 45%;
        height: 20vh;
        top: unset;
        bottom: 1%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .HUDP2 div:first-child {
        order: 2;
    }

    .HUDP2 div:last-child {
        order: 1;
    }

    .information {
        margin: auto;
        margin-top: unset;
        width: 60%;
        height: auto;



    }

    .HUDP2 .inventaire div:nth-child(1) {
        order: 1;
    }

    .HUDP2 .inventaire div:nth-child(2) {
        order: 2;
    }

    .HUDP2 .inventaire div:nth-child(3) {
        order: 3;
    }

    .HUDP2 .inventaire div:nth-child(4) {
        order: 4;
    }

    .HUDP2 .inventaire div:nth-child(5) {
        order: 5;
    }

    .HUDP2 .inventaire div:nth-child(6) {
        order: 6;
    }

    .HUDP2 .inventaire div:nth-child(7) {
        order: 7;
    }

    .HUDP2 .inventaire div:nth-child(8) {
        order: 8;
    }

    .HUDP2 .inventaire div:nth-child(9) {
        order: 9;
    }


}
