.bloc {
    background: yellow;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
}

#bloc {
    background: red;
    width: 400px;
    height: 200px;
    transition: background 1s, color 5s;
}

#bloc:hover {
    background: blue;
    color: white;
}

p {
    color: green;
    font-size: 30px;
}

p:hover {
    font-style: italic
}
